@import "../styles/Variables.scss";

.ts-card {
	padding: 21px;
	border: none;
	box-shadow: 0 3px 6px rgba(#000, 0.16);

	&.more-button-card {
		display: flex;
    	align-items: center;
   		background: transparent;
 	   	box-shadow: none;
	}
}
