@import "../styles/Variables.scss";

.focus-paragraph {
	font-size: 18px;
	font-weight: 400;
	line-height: 1.8;

	@media screen and (min-width: $breakpoint-lg) {
		font-size: 26px
	}

	a {
		.focus-text {
			color: $colour-blue;
		}
	}
}
