@import "../styles/Variables.scss";

.link-list {
	color: inherit;

	.link-item {
		font-weight: 400;
		width: 100%;
		display: block;
		margin-bottom: 15px;

		&:hover {
			opacity: 1;
		}
		
		&:last-of-type {
			margin-bottom: 0;
		}

		&.active-option {
			opacity: 1;
			font-weight: $fw-semi-bold;
			color: $colour-blue;
		}
	}
}

