@import "../styles/Variables.scss";

.pfb-container {
	padding-top: 40px;
	padding-bottom: 40px;

	.pb-image {
		max-height: 100px;
		max-width: 200px;
		width: auto;
	}

	@media screen and (min-width: $breakpoint-md){
		padding-top: 60px;
		padding-bottom: 60px;
	}
}