@import "../styles/Variables.scss";

.section-header {
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: 25px;
	display: inline-block;
	
	@media screen and (min-width: $breakpoint-lg) {
		font-size: 21px;
	}

	&.no-margin {
		margin: 0;
	}
}