@import "../styles/Variables.scss";

.ts-container {
	padding-top: 50px;
	padding-bottom: 50px;

	&.bg-blue {
		background-color: $colour-blue-bg;
	}

	&.bg-white {
		background-color: $colour-blue-bg;
	}
}