@import "../styles/Variables.scss";

.ts-container {
	padding-top: 50px;
	padding-bottom: 50px;

	&.bg-blue {
		background-color: $colour-blue-bg;
	}

	&.bg-white {
		background-color: $colour-blue-bg;
	}

	@media screen and (min-width: $breakpoint-lg){
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@media screen and (min-width: $breakpoint-xl){
		padding-top: 130px;
		padding-bottom: 130px;
	}
}

