@import "~bootstrap/scss/bootstrap";
@import "./styles/Variables.scss";
@import "./styles/Typography.scss";
@import "./styles/Inputs.scss";
@import "./styles/Animations.scss";

body, * {
	font-family: $font-primary;
	font-style: normal;
	font-weight: 100;
	font-size: 16px;

	&::selection {
		background-color: rgba($colour-blue, 0.3);
	}
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	color: $colour-font-main;
	background-color: $colour-blue-bg;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	background-color: $colour-divider;
	margin: 10px 0;
}

.main-content-container {
	padding-top: 60px;

	@media screen and (min-width: $breakpoint-lg){
		padding-top: 120px;
	}
}